
<section class="pagina-intermedia">
  <body>
    <h1>Por que no me ha gustado I-W </h1>
    <!-- <div class="img" v-for="per in Perfiles">
      <a>
    Nome:  {{per.name}}
    <br>
    Imagen: {{per.img}}


      </a>
    </div> -->

<div class="">

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fbuky.jpeg?alt=media&token=1e841220-5b0b-42e1-9b65-38cd2f64eb52" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fdrstrange.jpeg?alt=media&token=04e713ec-3ed0-432b-94bc-2577d7f5e113" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Ffalcon.jpeg?alt=media&token=3eaf3a74-f5da-4c69-8b35-a2b10f956366" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fvision.jpeg?alt=media&token=b5f43ad9-bf1c-4fa6-b655-91d75f86a278" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fstarlord.jpeg?alt=media&token=fac424f9-59ba-442a-a3b3-4371502eeda5" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fspiderman.jpeg?alt=media&token=22ebd932-fb7e-4960-9b31-20b584c17a2f" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fscarlet.jpeg?alt=media&token=b8dc2400-5215-4025-9cb5-f75a1405138d" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fnickfury.jpeg?alt=media&token=3e8aa8be-b931-446b-9e93-10667a9fda07" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fmariahill.jpeg?alt=media&token=f6017558-3fc7-4c8f-975a-0fd8578026af" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fmantis.jpeg?alt=media&token=60bb780c-93ac-4f3a-a57b-241bd0161fab" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Floki.jpeg?alt=media&token=2a676661-3764-4187-b5e6-c04a2f1b131e" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fheimdall.jpeg?alt=media&token=56dd9e34-3c90-471e-92aa-fb5a0ab24e22" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fworld.jpeg?alt=media&token=3ec9a9bb-f064-42b3-a427-904cd63209eb" >

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fgroot.jpeg?alt=media&token=9f07e8a1-2d9e-4d7c-98b8-b572c13fd7b6">

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fgrax.jpeg?alt=media&token=e0877739-4751-48c8-9067-d0325e8c36ec">

<img src="https://firebasestorage.googleapis.com/v0/b/web-firebase-8903a.appspot.com/o/images%2Fgamora.jpeg?alt=media&token=6b781cdb-6a77-46ab-84eb-7af29e8fd7d0">




</div>



  </body>

</section>
