.login-registro {
// background-color:#96B0E2;
background-color:INDIANRED;
justify-content: center;


}
.loguearse{
  margin: auto;

}
.login-registro{
  height: 300px;
  width: 400px;
  margin: auto;

}
.preRegister{
  background-color:#96B0E2;
  height: 300px;
  width: 400px;
}
#h1{
margin-top: 100px;
}
