
<section class="login-registro">
  <h1>principal Component</h1>
  <div class="Login" v-show="blLoginVisible">
        <h1>Panel Login</h1>
        <h1>{{sTituloLogin}}</h1>
        <button type="button" v-on:click="clickDeBotonLogearse" >Logearse</button>
        <button type="button" v-on:click="clickDeBotonRegistrase" >Registrarse</button>
  </div>
  <div class="preRegister" v-show="!blLoginVisible" >
        <h1>Panel Registro</h1>
        <button type="button" >Registrarse</button>
        <button type="button" v-on:click="clickDeBotonCancelar" >Cancelar</button>
  </div>
  <div class="Logearse" v-show="" >

    Usuario: <input type="text" name="Usuario"> <br>
    Contraseña: <input type="text" name="Contraseña" >
<button type="submit" name="OK">OK</button>

  </div>

</section>
