.login-registro {
// background-color:#96B0E2;
background-color:INDIANRED;
 // background:src\assets\back.jpg;
justify-content: center;
margin-top: 60px;
padding-top: 60px;

}
.loguearse{
  margin: auto;


}
.login-registro{
  height: 300px;
  width: 400px;
  margin: auto;

}
.preRegister{
  background-color:#96B0E2;
  height: 300px;
  width: 400px;
}
// .bobyin{
//   background-color:red;
//   background-image: url('./assets/back.jpg');
//   // background-image: url("back.jpg");
// }
