.login-registro {
// background-color:#96B0E2;
background-color:none;
 // background:src\assets\back.jpg;
justify-content: center;
margin-top: 0px;
padding-top: 0px;

}
.loguearse{
  margin: auto;
margin-top: 1000px;

}
.login-registro{
  height: 400px;
  width: 400px;
  margin: auto;

}
.preRegister{
  background-color: none;
  height: 400px;
  width: 400px;
  margin: auto;

}
body{
  color: white;
}
